@model wrts.Models.Ramp

@{
    ViewData["Title"] = "AddRamp";
    Layout = "_Layout";
}

<h1>AddRamp</h1>

<h4>Ramp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRamp" asp-controller="Ramp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rampa Sayısı </label>
                <input type="number" name="num" class="form-control form-control-user" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
