@model wrts.Models.Ramp

@{
    ViewData["Title"] = "Add Ramp";
    Layout = "_Layout";
}

<h1>Add Ramp</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRamp" asp-controller="Ramp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rampa Sayısı </label>
                <input type="number" name="num" class="form-control form-control-user" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
