<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<style>
    body {
        background-image: url('img/bg.jpg') ;
        background-size:1600px 800px;
        max-width:100%;
        background-position: top center;
        background-repeat:no-repeat;
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
    
    
    
    </style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                        <form>
                            <div class="form-floating mb-3">
                                <label for="floatingInput">Email address</label>
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                
                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingPassword">Password</label>
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                <label class="form-check-label" for="rememberPasswordCheck">
                                    Remember password
                                </label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                    Sign
                                    in
                                </button>
                            </div>
                            
                            
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>