@{
    Layout = "_loginLayout";
}
@model wrts.Models.User

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-5" style="margin-top: 10rem!important; ">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        
                        
                        
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                        <form asp-controller="Login" asp-action="Check" method="post" >
                            <div class="form-floating mb-3">
                                <label for="floatingInput">Email address</label>
                                
                                <input asp-for="Email" class="form-control" />
                                
                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingPassword">Password</label>
                                <input asp-for="Password" class="form-control" />
                                
                            </div>
                            <br />
                           
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" >
                                    Sign
                                    in
                                </button>

                            </div>
                            <br />
                            @if (TempData["message"] != null)
                            {
                                <h6 style="color:red; text-align:center;" >@TempData["message"]</h6>
                            }
                            
                            
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
