@model wrts.Models.ParkingLot

@{
    ViewData["Title"] = "View";
}




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateParkingLot" asp-controller="ParkingLot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkingLotName" class="control-label"></label>
                <input asp-for="ParkingLotName" class="form-control form-control-user" />
                <span asp-validation-for="ParkingLotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehicleID" class="control-label"></label>
                 @Html.DropDownListFor(m=>m.vehicleID,(List<SelectListItem>)ViewBag.dgr))
                <span asp-validation-for="vehicleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <br />
            @if (TempData["message"] != null)
            {
                <h6 style="color:red; text-align:center;">@TempData["message"]</h6>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


